@model ASPNETMVCCRUD.Models.AddVehicleViewModel

@{
}

<h1>Add Vehicle</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email Address</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Cost</label>
        <input type="number" class="form-control" asp-for="Cost">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Year</label>
        <input type="date" class="form-control" asp-for="Year">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Carshop</label>
        <input type="text" class="form-control" asp-for="CarShop">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
</form>